body {
  background: #222;
}

#container {
  margin: 0 auto;
  width: 30vw;
}

#scoreboard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1em;
  width: 30vw;
}

.scores {
  box-sizing: border-box;
  color: #3d4;
  margin-bottom: 1em;
  text-align: left;
  width: 10vw;
}

.row {
  display: flex;
  flex-direction: row;
}

.square {
  box-sizing: border-box;
  color: #3d4;
  display: inline;
  font-size: 4vw;
  height: 10vw;
  padding: 3vw 0;
  text-align: center;
  width: 10vw;
}

[data-col="0"] {
  border-right: 2px solid #3d4;
}

[data-col="1"] {
  border-left: 2px solid #3d4;
  border-right: 2px solid #3d4;
}

[data-col="2"] {
  border-left: 2px solid #3d4;
}

[data-row="0"] {
  border-bottom: 2px solid #3d4;
}

[data-row="1"] {
  border-top: 2px solid #3d4;
  border-bottom: 2px solid #3d4;
}

[data-row="2"] {
  border-top: 2px solid #3d4;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  width: 30vw;
}

#x-button, #o-button, #reset-button {
  background: #3d4;
  box-sizing: border-box;
  color: #222;
  font-size: 1.25em;
  height: 3em;
  padding: 1em 0;
  text-align: center;
  width: 10vw;
}

#x-button, #o-button, #reset-button, .playable {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}
