.row {
  display: flex;
  flex-direction: row;
}

.square {
  border: 1px dashed orange;
  display: inline;
  height: 10vw;
  width: 10vw;
}

[data-col="0"] {
  border-right: 1px solid black;
}

[data-col="1"] {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

[data-col="2"] {
  border-left: 1px solid black;
}

[data-row="0"] {
  border-bottom: 1px solid black;
}

[data-row="1"] {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

[data-row="2"] {
  border-top: 1px solid black;
}
